body {
  margin: 0;
  font-family: Calibri, Arial, sans-serif;
  background: #f6b78d;
}

/* Menu atas */
.menu {
  background: #c65a11;
  padding: 10px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.menu button:hover {
  text-decoration: underline;
}

/* Konten */
.container {
  padding: 20px;
}

.page {
  display: none;
}

.page h2 {
  margin-top: 0;
}